.containerCard{
    margin: .625rem 1.25rem;
    justify-content: center;
    text-align: center;
    border: 0.5px solid grey;
    padding: .625rem;
}

.productImagen{
    height: 18.75rem;
    width: 12.5rem;
    object-fit: cover;
}

.productName{
    font-size: 1.25rem;
}

.containerPrice{
    display: flex;
    justify-content: space-around;
}