.containerCard{
    width: 250px;
    height: 400px;
    margin-bottom: 30px;
}
.boxContainer{
    background-color: white;
    width: 250px;
    height: 320px;
    border-radius: 20px;
    background-size:contain;
    background-repeat: no-repeat ;
    background-position: center ;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}
.cartContainer{
    display: flex;
    background-color: #DAEB0F;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 0 15px 15px 0 ;
    align-self: end;
    justify-self: end;
}
.cart{
    width: 25px;
    height: 25px;
}
