.tp1{
    width: 100%;
    height: 10rem;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tp2{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.labels{
    padding: 5px;
    width: 400px;
    height: 2.5em;
}