.containerSearch form{
    display: flex;
    justify-content: center;
}

.containerSearch input{
    padding-left: 3.125rem;
    border-radius: .625rem;
    border: none;
    background-color: rgb(223, 219, 219);
}

.containerSearch button{
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    top: .1875rem;
    left: 2.5rem;
}