.containerPaginado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 6.25rem;
    margin: 80px;
}

.containerPaginado button{
    background: none;
    border: none;
    cursor: pointer;
}

.containerPaginado p{
    margin: 0 1.25rem;
}