.containerPaginado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px 0;
}

.containerPaginado button{
    background: none;
    border: none;
    cursor: pointer;
}

.containerPaginado p{
    margin: 0 1.25rem;
}