.containerHome{
    background-color: #f2f2f2;
    min-height: 100%;
}

.containerFilters{
    display: grid;
    width: 100%;
    place-self: center;
    padding: 40px 0px 10px 70px;
    grid-template-columns: 0.7fr 1.3fr ;
    gap: 5rem;
    background-color: #f2f2f2;
    margin: auto;
    min-height: 87vh
}

.filters{
    width: 250px;
}

