.categorie h1 {
  font-family: "Jaldi";
  font-size: 1.95rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.categorie button {
  border: none;
  background: none;
  padding-top: 1px;
  position: relative;
  bottom: 1.25rem;
}
