.trademark{
    text-align: left;
    padding: 0 1.25rem;
}

.trademark button{
    border: none;
    background: none;
    margin: .3125rem 0;
    font-size: 1.125rem;
    position: relative;
    bottom: .625rem;
}